<a href="https://colab.research.google.com/github/gauravblog-art/movie_recommendation_sytstem/blob/main/movie_recommendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In this we are goig to create a movie recommendation system

In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [92]:
movies=pd.read_csv("/content/drive/MyDrive/data analatics/tmdb_5000_movies.csv")
movies

         budget  ... vote_count
0     237000000  ...      11800
1     300000000  ...       4500
2     245000000  ...       4466
3     250000000  ...       9106
4     260000000  ...       2124
...         ...  ...        ...
4798     220000  ...        238
4799       9000  ...          5
4800          0  ...          6
4801          0  ...          7
4802          0  ...         16

[4803 rows x 20 columns]

In [93]:
movies.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [94]:
#checcking missing value
movies.isna().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [95]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

# we only use a overview coloums for my recommendation system so we delete the miss value from my overview

In [96]:
movies=movies[movies['overview'].notna()]

In [97]:
movies = movies.drop(['production_companies','production_countries','release_date','spoken_languages','status','genres','id','budget','homepage','tagline','keywords','original_language','title'],axis=1)

In [71]:
movies.head()

                             original_title  ... vote_count
0                                    Avatar  ...      11800
1  Pirates of the Caribbean: At World's End  ...       4500
2                                   Spectre  ...       4466
3                     The Dark Knight Rises  ...       9106
4                               John Carter  ...       2124

[5 rows x 7 columns]

# now i am creating like matrix or vector form for counting same word in my hole santance so we import one lieray for this

In [82]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfd=  TfidfVectorizer(min_df=3,ngram_range=(1,3),analyzer='word',stop_words='english')
tf_matrix= tfd.fit_transform(movies['overview'])

In [83]:
print(tf_matrix.shape)

(4800, 9919)

In [109]:
movies['original_title'] = movies['original_title'].apply(lambda x:x.lower())

In [110]:
from sklearn.metrics.pairwise import sigmoid_kernel
sgm = sigmoid_kernel(tf_matrix,tf_matrix)

In [111]:
sgm

array([[0.76163649, 0.76159416, 0.76159416, ..., 0.76159416, 0.76159416,
        0.76159416],
       [0.76159416, 0.76163649, 0.76159416, ..., 0.76159519, 0.76159416,
        0.76159416],
       [0.76159416, 0.76159416, 0.76163649, ..., 0.76159484, 0.76159416,
        0.76159416],
       ...,
       [0.76159416, 0.76159519, 0.76159484, ..., 0.76163649, 0.76159488,
        0.76159447],
       [0.76159416, 0.76159416, 0.76159416, ..., 0.76159488, 0.76163649,
        0.76159467],
       [0.76159416, 0.76159416, 0.76159416, ..., 0.76159447, 0.76159467,
        0.76163649]])

In [112]:
indices = pd.Series(movies.index,index=movies['original_title']).drop_duplicates()
print(indices)

original_title
avatar                                         0
pirates of the caribbean: at world's end       1
spectre                                        2
the dark knight rises                          3
john carter                                    4
                                            ...
el mariachi                                 4798
newlyweds                                   4799
signed, sealed, delivered                   4800
shanghai calling                            4801
my date with drew                           4802
Length: 4800, dtype: int64

In [98]:
indices['avatar']

0

In [ ]:
list(enumerate(sgm[0]))

In [104]:
movie_scores = list(enumerate(sgm[0]))
movie_scores = sorted(movie_scores,key = lambda x:x[1],reverse=True)

In [ ]:
movie_scores

In [106]:
def recommend(name,sig=sgm):
    idx = indices[name]
    movie_scores = list(enumerate(sig[idx]))
    movie_scores = sorted(movie_scores,key = lambda x:x[1],reverse=True)
    top_10_similar_movies_indices = movie_scores[1:11]
    movies_indices = [i[0] for i in top_10_similar_movies_indices]
    return movies['original_title'].iloc[movies_indices]

In [113]:
recommend("spectre")

1343          never say never again
3162                    thunderball
4071          from russia with love
11                quantum of solace
3351    the man with the golden gun
1717                     safe haven
1200           the living daylights
4339                         dr. no
1281                        hackers
29                          skyfall
Name: original_title, dtype: object